:root {
    --background-color: #FFFAF3;
    --text-color: #404D57;
    --primary-color: #348937;
    --secondary-color: #FF9800;
    --font-family: 'Bona Nova SC', serif;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    grid-template-columns: 128px 2fr 1fr 1fr;
}

#searchInput, #searchBtn {
    height: 40px;
    margin: auto 0;
    border-radius: 5px;
}

#searchBtn {
    width: 150px;
    border-radius: 50px;
}

